.countryList {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.countryList h2 {
  font-size: 16px;
  margin-bottom: 1rem;
  color: #c3c2c2;
}

.countrySearch {
  background-color: #cecdcd;
  color: #333333;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.7rem 0.1rem;
  border: 1px solid transparent;
  background-color: #cecdcd;
  color: #6e6d6d;
}

.countryListModal {
  background-color: transparent;
}

.countryResults {
  list-style-type: none;
  padding: 0;
}

.countryResult {
  padding: 10px;
  border: 1px solid transparent;
  margin-bottom: 10px;
  background-color: #cecdcd;
  color: #333;
}

.loadingString {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.errorString {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
